# Environment Variables
# MONGODB_URI=mongodb://localhost:27017/flowchain_ai
MONGODB_URI=Mongo_URL

# For production, use a cloud MongoDB URI like:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/flowchain_ai

# Get your Gemini API key from: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=Gemini_API
